<link rel="stylesheet" href="{{ 'header.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'header.css' | asset_url | stylesheet_tag }}</noscript>




 
  <div id="countdown" class="countdown">
    <div class="time">
    <h2 id="days">00</h2>
    <small>Days</small>
</div>
<div class="time">
  <h2 id="hours">00</h2>
  <small>Hours</small>
</div>
<div class="time">
  <h2 id="minutes">00</h2>
  <small>Minutes</small>
</div>
<div class="time">
  <h2 id="seconds">00</h2>
  <small>Seconds</small>
</div>

</div>





{% schema %}
{
  "name": "Countdown",

  "settings": [
  
  
  {
  "type": "select",
  "id": "month",
  "label": "Month",
  "options": [
    {
      "value": "January",
      "label": "January"
    },
    {
      "value": "February",
      "label": "February"
    },
    {
      "value": "March",
      "label": "March"
    },
    {
      "value": "September",
      "label": "September"
    }

  ]
  },
  {
    "type": "select",
    "id": "Day",
    "label": "Day",
    "default": "1",
    "options": [
      {
        "value": "1",
        "label": "1"
      },
      {
        "value": "2",
        "label": "2"
      },
      {
        "value": "3",
        "label": "3"
      }
  
    ]
    },
    {
      "type": "select",
      "id": "year",
      "label": "Year",
      "default": "2022",
      "options": [
        {
          "value": "2021",
          "label": "2021"
        },
        {
          "value": "2022",
          "label": "2022"
        },
        {
          "value": "2023",
          "label": "2023"
        }
    
      ]
      },
      {
        "type": "number",
        "id": "hours",
        "label": "Hours (max 24)",
        "default": 0
       

        },
        {
          "type": "number",
          "id": "minutes",
          "label": "Minutes (max 60)",
          "default": 0

         

          },
          {
            "type": "number",
            "id": "seconds",
            "label": "Seconds (max 60)",
            "default": 0

           
          
            
            }
      
    

  ],
  
  "presets": [
    {
      "name": "Countdown",
      "category": "number"
    }
  ]
}
{% endschema %}


<script>
  const days = document.getElementById('days');
  const hours = document.getElementById('hours');
  const minutes = document.getElementById('minutes');
  const seconds = document.getElementById('seconds');
  
  const currentYear = new Date().getFullYear();
  
  const newYearTime = new Date(`{{section.settings.month}} {{section.settings.day}} {{section.settings.year}} {{section.settings.hours}}:{{section.settings.minutes}}:{{section.settings.seconds}}`);
  
  // Update countdown time
  function updateCountdown() {
    const currentTime = new Date();
    const diff = newYearTime - currentTime;
  
    const d = Math.floor(diff / 1000 / 60 / 60 / 24);
    const h = Math.floor(diff / 1000 / 60 / 60) % 24;
    const m = Math.floor(diff / 1000 / 60) % 60;
    const s = Math.floor(diff / 1000) % 60;
  
    days.innerHTML = d;
    hours.innerHTML = h < 10 ? '0' + h : h;
    minutes.innerHTML = m < 10 ? '0' + m : m;
    seconds.innerHTML = s < 10 ? '0' + s : s;
  }
  
  setInterval(updateCountdown, 1000);</script>