<link rel="stylesheet" href="{{ 'header.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'header.css' | asset_url | stylesheet_tag }}</noscript>


{% case sections.settings.header_type %}
  {% when 'headerOne' %}



<header class="headers">
  <ul class="header__list">
    
    <div class="header__list__left">
      
      <li class="header__list__left__item">
        SHOP
      </li>
      <li class="header__list__left__item">
        ABOUT
      </li>
      <li class="header__list__left__item">
        CONTACT
      </li>
      </div>
      <div class="header__list__mid">
        <h1 class="header__list__mid__logo">honest</h1>
    </div>
    <div class="header__list__right">
      <li class="header__list__right__item">
        <img class="header__list__right__item--search" src="{{ 'search.svg' | asset_url }}" alt="search" />
      </li>
      <li class="header__list__right__item">
        MY ACCOUNT
      </li>
      <li class="header__list__right__item">
      <img  class="header__list__right__item--bag" src="{{ 'bag.svg' | asset_url }}" alt="bag" />

      </li>
      </div>
  </ul>
  <div class="mobile">
    <div> </div>
    <img class="mobile__bars" src="{{ 'menu.svg' | asset_url }}" alt="Bars" />

  </div> 

</header>


    {% when 'headerTwo' %}
      <header class="headers">
        <ul class="header__list">
          
          <div class="header__list__left">
            
            <li class="header__list__left__item">
              SHOP
            </li>
            <li class="header__list__left__item">
              ABOUT
            </li>
            <li class="header__list__left__item">
              CONTACT
            </li>
            </div>
            <div class="header__list__mid">
              <h1 class="header__list__mid__logo">honest</h1>
          </div>
          <div class="header__list__right">
            <li class="header__list__right__item">
              <img class="header__list__right__item--search" src="{{ 'search.svg' | asset_url }}" alt="search" />
            </li>
            <li class="header__list__right__item">
              MY ACCOUNT
            </li>
            <li class="header__list__right__item">
            <img  class="header__list__right__item--bag" src="{{ 'bag.svg' | asset_url }}" alt="bag" />
      
            </li>
            </div>
        </ul>
        <div class="mobile">
          <div> </div>
          <img class="mobile__bars" src="{{ 'menu.svg' | asset_url }}" alt="Bars" />
      
        </div> 
      
      </header>
      
{% endcase %}


{% schema %}

{
  "name": "t:sections.header.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label",
      "default": 100
    },
    {
      "type": "select",
      "id": "logo_position",
      "label": "t:sections.header.settings.logo_position.label",
      "options": [
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        }
      ],
      "default": "middle-left"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:sections.header.settings.menu.label",
      "default": "main-menu"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "label": "t:sections.header.settings.show_line_separator.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "default": true,
      "info": "t:sections.header.settings.enable_sticky_header.info"
    }
  ]
}
{% endschema %}


{{ content_for_layout }}
