<link rel="stylesheet" href="{{ 'header.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'header.css' | asset_url | stylesheet_tag }}</noscript>
{%style%}
{%- if section.settings.positions -%}
#header-first.headers {
  position: sticky!important;
  height: 60px;
  width: 100%;
  top: 0px!important;
  left: 0px;
  z-index: 9;
  align-self: flex-start;

}


{%endif%}
.headers {
 height: {{section.settings.height}}px;

}

.hero-three__content h2 {
  font-size: {{section.settings.font_size}}}px;
}

.headers-sticky {
  height: {{section.settings.height}}px;

}
{%endstyle%}

{% case section.settings.header_type %}
  {% when 'headerOne' %}



<header class="{%- if section.settings.positions -%} headers-sticky {%else%} headers {%endif%}"  style="background: {{section.settings.header__background}}">
  <ul class="header__list">
    <div class="header__list__left">
     
      {%- if link.links == blank -%}
        {%- for link in section.settings.menu.links -%}
          {%- if section.settings.menu != blank -%}
      <li class="header__list__left__item">
        <a style="color: {{section.settings.header__color}}" href="{{ link.url }}" class="{{section.settings.header_colors}}">{{ link.title | escape }}</a>
      </li>
    {%- endif -%}
  {%- endfor -%}
  {%- endif %}

      </div>
    
      <div class="header__list__mid">
        <a class="header__list__mid__logo">
          {%- if section.settings.logo != blank -%}
            {%- assign image_size = section.settings.logo_width | append: 'x' -%}
            <img srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
              src="{{ section.settings.logo | img_url: image_size }}"
              loading="lazy"
              class="header__heading-logo"
              alt="{{ section.settings.logo.alt | default: shop.name | escape }}">
          {%- else -%}
            <span class="h2">{{ shop.name }}</span>
          {%- endif -%}
        </a>
    </div>
    <div class="header__list__right">
      <li class="header__list__right__item">
        <img class="header__list__right__item--search" src="{{ 'search.svg' | asset_url }}" alt="search" />
      </li>
      <li class="header__list__right__item">
        MY ACCOUNT
      </li>
      <li class="header__list__right__item">
      <img  class="header__list__right__item--bag" src="{{ 'bag.svg' | asset_url }}" alt="bag" />

      </li>
      </div>
   
  </ul>
  <div class="mobile">
    <div> </div>
    <img class="mobile__bars" src="{{ 'menu.svg' | asset_url }}" alt="Bars" />

  </div> 

</header>


    {% when 'headerTwo' %}
      <div class="headers" style="background: {{section.settings.header__background}}">
        <ul class="header__list">
        <div class="header__list__mid">
          <a class="header__list__mid__logo">
            {%- if section.settings.logo != blank -%}
              {%- assign image_size = section.settings.logo_width | append: 'x' -%}
              <img srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                src="{{ section.settings.logo | img_url: image_size }}"
                loading="lazy"
                class="header__heading-logo"
                alt="{{ section.settings.logo.alt | default: shop.name | escape }}">
            {%- else -%}
              <span class="h2">{{ shop.name }}</span>
            {%- endif -%}
          </a>
            </div>
          <div class="header__list__left">
     
            {%- if link.links == blank -%}
              {%- for link in section.settings.menu.links -%}
                {%- if section.settings.menu != blank -%}
            <li class="header__list__left__item ">
              <a style="color: {{section.settings.header__color}}" href="{{ link.url }}" class="{{section.settings.header_colors}}">{{ link.title | escape }}</a>
            </li>
          {%- endif -%}
        {%- endfor -%}
        {%- endif %}
      
            </div>
                <div class="header__list__right">
            <li class="header__list__right__item">
              <img class="header__list__right__item--search" src="{{ 'search.svg' | asset_url }}" alt="search" />
            </li>
            <li class="header__list__right__item">
              MY ACCOUNT
            </li>
            <li class="header__list__right__item">
            <img  class="header__list__right__item--bag" src="{{ 'bag.svg' | asset_url }}" alt="bag" />
  
            </li>
            </div>
  
        </ul>
        <div class="mobile">
          <div></div>
          <img class="mobile__bars" src="{{ 'menu.svg' | asset_url }}" alt="Bars" />
  
        </div>
      </div>
        
{% endcase %}


{% schema %}
{
  "name": "t:sections.header.name",

  "settings": [
  {
  "type": "select",
  "id": "header_type",
  "label": "Type Of Header",
  "options": [
  {
  "value": "headerOne",
  "label": "Header 1"
  },
  {
  "value": "headerTwo",
  "label": "Header 2"
  }
  ],
  "default": "headerOne"
  },
  {
    "type": "checkbox",
    "id": "positions",
    "label": "Sticky header",
    "default": false
  },

  {
    "type": "color",
    "id": "header__background",
    "label": "Header background",
    "default": "#ffffff"
  },
  {
    "type": "color",
    "id": "header__color",
    "label": "Header text color",
    "default": "#000000"
  },


  {
    "type": "range",
    "id": "height",
    "min": 60,
    "max": 120,
    "step": 1,
    "default": 70,
    "label": "Height"
    },
    {
      "type": "select",
      "id": "header_colors",
      "label": "Header color",
      "default": "header-color1",
      "options": [
        {
          "value": "header-color1",
          "label": "Header color 1"
        },
        {
          "value": "header-color2",
          "label": "Header color 2"
        },
        {
          "value": "header-color3",
          "label": "Header color 3"
        }

      ]
    },
  {
  "type": "image_picker",
  "id": "logo",
  "label": "t:sections.header.settings.logo.label"
  },
  {
  "type": "range",
  "id": "logo_width",
  "min": 50,
  "max": 250,
  "step": 10,
  "default": 100,
  "unit": "t:sections.header.settings.logo_width.unit",
  "label": "t:sections.header.settings.logo_width.label"
  },
  
  {
  "type": "link_list",
  "id": "menu",
  "default": "main-menu",
  "label": "t:sections.header.settings.menu.label"
  },
  {
  "type": "link_list",
  "id": "menu_two",
  "default": "main-menu",
  "label": "Alternate Menu"
  }
  ]
  }
{% endschema %}


