<link rel="stylesheet" href="{{ 'hero.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'hero.css' | asset_url | stylesheet_tag }}</noscript>



{%- for block in section.blocks -%}
  {% case section.settings.hero_type %}
    {% when 'heroOne' %}
  
<section class="hero {{block.settings.position}}">
  <div class="hero__left">
  <div class="hero__left__emptySpace"> </div>

    <div class="hero__left__content">

    <h2 class="hero__left__content__heading">{{ block.settings.heading | escape }}</h2>
<p class="hero__left__content__body">{{ block.settings.body | escape }}</p>
</div>

<div class="hero__left__featured">
<ul class="hero__left__featured__buttons">
<li>New</li>
<li>Fresh</li>
<li>Popular</li>

</ul>
<div class="hero__left__featured__img" >
  {%- if block.settings.featureImage != blank -%}
    {%- assign image_size = block.settings.featuredImg_width | append: 'x' -%}
    <img srcset="{{ block.settings.featureImage | img_url: image_size, width: image_size }}"
      src="{{ block.settings.featureImage | img_url: image_size }}"
      loading="lazy"
      height={{block.settings.featuredImg_width}}}
      alt="hero" />

    {%- else -%}

<img  src="{{ 'makeup.jpg' | asset_url }}" alt="product" />
{%- endif -%}

</div>
</div>
  </div>
  <div class="hero__right">
    {%- if block.settings.image != blank -%}

    <img srcset="{{ block.settings.image |  img_url: '490x'}}" alt="hero" />
    {%- else -%}
  <img src="{{ 'model.jpg' | asset_url }}" alt="woman posing" />
   {%- endif -%}
  </div>
</section>
{% when 'heroTwo' %}
  <section class="hero-three">
    <div class="hero-three__content">
      <h2 id="hero-three__content__heading" class="{{block.settings.hero-two__color}}">{{ block.settings.heading | escape }}</h2>
      <a href="">{{ block.settings.hero_button | escape }}</a>
    </div>
    <div class="hero-three__left">
      {%- if block.settings.left-hero_image != blank -%}
        <img class="hero-three__left__img" srcset="{{ block.settings.left-hero_image |  img_url: '490x'}}" alt="hero" />

      {%- else -%}

    <img class="hero-three__left__img" src="{{ 'mode3.jpg' | asset_url }}" alt="model" />
  {%- endif -%}

    </div>
    <div class="hero-three__right">
      {%- if block.settings.right-hero_image != blank -%}
        <img class="hero-three__right__img" srcset="{{ block.settings.right-hero_image |  img_url: '490x'}}" alt="hero" />

        {%else%}
    <img class="hero-three__right__img" src="{{ 'makeup3.jpg' | asset_url }}" alt="model" />
    {%endif%}
    </div>

  </section>
{% endcase %}


{%- endfor -%}



{% schema %}
{
  
  "name": "Hero options",
  "max_blocks": 3,
  "settings": [
    {
      "type": "select",
      "id": "hero_type",
      "label": "Type Of Hero",
      "options": [
        {
          "value": "heroOne",
          "label": "Hero 1"
          },
          {
          "value": "heroTwo",
          "label": "Hero 2"
          
          }
        
      ]
    }
  ],

  "blocks": [
    {
      "name": "Hero",
      "type": "text",
      "settings": [
    
    {
 
          "type": "text",
          "id": "heading",
          "label": "Hero heading",
          "default": "Beauty Shop"
        },
 
        {
          "type": "text",
          "id": "body",
          "label": "Hero 1 body",
          "default": "We have ingrendients that are of the most premium quality. Created with love and care to provide the finest glow to an oily face."
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Hero 1 hero_image"
          
          },
          {
            "type": "image_picker",
            "id": "featureImage",
            "label": "Hero 1 feature-image"
            
            },
            {
              "type": "image_picker",
              "id": "left-hero_image",
              "label": "Hero 2 Left hero image"
              
              },
              {
                "type": "image_picker",
                "id": "right-hero_image",
                "label": "Hero 2 Right hero image"
                
                },
      
            {
              "type": "text",
              "id": "hero_button",
              "label": "Hero 2 Button Text",
              "default": "SHOP COLLECTION"
              
              },
              {
                "type": "range",
                "id": "featuredImg_width",
                "min": 50,
                "max": 350,
                "step": 10,
                "unit": "t:sections.header.settings.logo_width.unit",
                "label": "Hero 1 Featured image size",
                "default": 180
              },
            {
              "type": "select",
              "id": "position",
              "label": "Hero 1 Large image position",
              "default": "right",
              "options": [
                {
                  "value": "left",
                  "label": "Left"
                },
                  {
                    "value": "right",
                    "label": "Right"
                  }
  
              ]
              
              },
              {
                "type": "select",
                "id": "hero-two__color",
                "label": "Hero 2 Text Color",
                "default": "dark",
                "options": [
                  {
                    "value": "dark",
                    "label": "dark"
                  },
                    {
                      "value": "light",
                      "label": "Light"
                    }
    
                ]
                
                }
  
          


      ]
    }

  ],
  "default": {
    "blocks": [
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}


