<link rel="stylesheet" href="{{ 'text-image.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'text-image.css' | asset_url | stylesheet_tag }}</noscript>

<section class="middle__bottom">
    <div class="middle__bottom__contain__image">
    <div class="middle__bottom__contain__image__banner">
      {%- if section.settings.heading != blank -%}
<h4>{{section.settings.heading}}</h4>
      {%else%}
    <h4>OUR PHILOSOPHY</h4>
    {%endif%}

    {%- if section.settings.body != blank -%}
<p>{{section.settings.body}}</p>
      {%else%}
    <p>We're a wellness and beauty brand empowering eople to live a happy and healthy life.</p>
    {%endif%}

  </div>
    {%- if section.settings.image != blank -%}
      <img srcset="{{section.settings.image | img_url: '490x'}}" alt="makeup"/>

      {% else %}
      <img src="{{ 'makeup1.jpg' | asset_url }}"  alt="collection" />
    {% endif %}
    </div>
    
  </div>
  <div class="middle__bottom">
    <div class="middle__bottom__contain">
        <div class="middle__bottom__contain__content">
          {%- if section.settings.left_heading != blank -%}
            <h3>{{section.settings.left_heading}}</h3>
            {%else%}
          <h3 class="middle__bottom__contain__content__heading">the beauty trend</h3>
          {%endif%}
          <div class="middle__bottom__contain__content__body">
            <div class="line"> </div>
            {%- if section.settings.left_body != blank -%}
    <p>{{section.settings.left_body}}</p>
              {%else%}
          <p>Treat your skin with a little love, care and makeup.</p>
          {%endif%}
          </div>
          {%- if section.settings.button_text != blank -%}
    
            <button class="middle__bottom__contain__content__button">{{section.settings.button_text}}</button>
            {%else%}
          <button class="middle__bottom__contain__content__button">SHOP COLLECTION</button>
          {%endif%}
        </div>
        </div>
    
</section>

{% schema %}
{
  "name": "Image Text",
  "tag": "section",
  "class": "spaced-section",
  "settings": [

        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"

        },
        {
          "type": "text",
          "id": "heading",
          "label": "Banner heading",
          "default": "OUR PHILOSOPHY"
  
        },
        {
          "type": "text",
          "id": "body",
          "label": "Banner body",
          "default": "We're a wellness and beauty brand empowering eople to live a happy and healthy life."

        },
        {
          "type": "text",
          "id": "left_heading",
          "label": "Left heading",
          "default": "the beauty trend"
        },
        {
          "type": "text",
          "id": "left_body",
          "label": "Left body",
          "default": "Treat your skin with a little love, care and makeup."
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text",
          "default": "SHOP COLLECTION"
        }
        
        
      ],
      "presets": [
        {
          "name": "Image Text",
          "category": "Image"
        }
      ]
    
    
  

}
{% endschema %}
