<link rel="stylesheet" href="{{ 'featured-boxes.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'featured-boxes.css' | asset_url | stylesheet_tag }}</noscript>


<section class="two-text">
  <div class="two-text__img overlay">
    {%- for product in section.settings.i-featured_collection.products limit:1 -%}
      <h3 class="two-text__img__heading overlay">{{product.title}}</h3>
    <img src="{{product.featured_image.src | img_url: '240x'}}" alt="item" />
    {%else%}
    <p>No collection</p>
  {% endfor %}

    </div>
    <div class="two-text__text">
      <div class="two-text__text__content">
        <h3>{{section.settings.i-mid_heading}}</h3>
        <p>{{section.settings.i-mid_body}}</p>
        </div>
    </div>
    <div class="two-text__img overlay">
      {%- for product in section.settings.i-featured_collection.products limit:1 -%}
        <h3 class="two-text__img__heading overlay">{{product.title}}</h3>
      <img src="{{product.featured_image.src | img_url: '240x'}}" alt="item" />
      {%else%}
      <p>No collection</p>
    {% endfor %}
  
      </div>
  
</section>

{% schema %}



{
  "name": "Two Images / One Text",
  "tag": "section",
  "class": "section",
  "settings": [
      
        
        {
          "type": "text",
          "id": "i-mid_heading",
          "label": "Middle heading",
          "default": "Increase Your Beauty"
  
        },
        {
          "type": "text",
          "id": "i-mid_body",
          "label": "Middle body",
          "default": "Capture your ture self. Our products are of the utmost quality. Shop here."

        },

        {
          "type": "collection",
          "id": "i-featured_collection",
          "label": "Featured Collection"
        }
        
        
      ],
      "presets": [
        {
          "name": "Two Images / One Text",
          "category": "Image"
        }
      ]
    
  

}
{% endschema %}
